@use '../../styles/vars';
@use '../../styles/mixin';

.panel {
  position: relative;
  z-index: 1;
  
  @include mixin.padding;
  margin: vars.$space-30 auto;
  position: relative;
  background-color: vars.$light-color;
  border-radius: vars.$panel-radius;
  border: 1px solid vars.$light-stroke-color;
}
