@use '../../styles/vars';
@use '../../styles/mixin';

.panel {
  @include mixin.padding;
  margin: 0 auto;
  
  background-color: vars.$light-color;
  border-radius: vars.$panel-radius;
  border: 1px solid vars.$light-stroke-color;
}
