@use '../../styles/vars';
@use '../../styles/mixin';

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  background-color: #FFFFFF;

  &__title {
    font-size: vars.$font-big;
    font-weight: bold;
    margin-bottom: vars.$space-30;
    // responsive
    @include mixin.media('medium') {
      margin-bottom: vars.$space-20;
    }
  }
}
