@use '../../styles/vars';
@use '../../styles/mixin';

.nav-buttons{
  display: flex;

  &__li{
    display: flex;
  }
}

.posts-list{
  display: flex;
  justify-content: center;
  padding: 0 5em;

  @include mixin.media('medium') {
    padding: 0 0;
  }
}
