@use '../../styles/mixin';
@use '../../styles/vars';

.account {

  @include mixin.media('medium') {
    display: flex;
    gap: vars.$space-30;
    flex-direction: row;
  }

  &__info {
    display: flex;
    flex-direction: column;

    @include mixin.media('medium') {
      flex-grow: 1;
    }
  }

  &__avatar {
    margin-bottom: vars.$space-30;
    min-width: 20%;
    border-radius: 500px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    
    @include mixin.media('medium') {
      margin-bottom: 0;
      flex-grow: 0;
    }

    &__legend {
      position: absolute;
      margin: 0 auto;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
    }

    &__img {
      max-width: 80%;
      border-radius: 500px;
      display: block;
      margin: 0 auto;
      background: vars.$light-color;
    }
  }

  &__title {
    font-size: vars.$font-medium;
    font-weight: bold;
  }

  &__creation {
    opacity: 0.5;
    margin-bottom: vars.$space-20;
  }

  &__about {
    margin-bottom: vars.$space-20;
  }

}
