@use '../../styles/mixin';
@use '../../styles/vars';

.posts {
  display: flex;
  flex-direction: column;
  margin-bottom: vars.$space-20;
  gap: vars.$space-15;
  flex-wrap: wrap;
  

  @include mixin.media('medium') {
    flex-direction: row;
  }

}
