@use '../../styles/vars';
@use '../../styles/mixin';

.add-post {
  &__legend {
    margin-bottom: vars.$space-10;
  }
}

.label {
  &__helper {
    font-size: 0.9em;
  }
}

.radio {
  &__group {
    display: flex;
    align-items: center;
    margin-bottom: vars.$space-30;
    span {
      margin: 0 vars.$space-15;
    }
  }
  &__label {
    font-weight: bold;
    font-size: 1em;
    border-radius: vars.$btn-radius;
    padding: vars.$space-10 vars.$space-30;
    display: flex;
    align-items: center;
    width: fit-content;
  }
}
input[type="radio"] {
  opacity: 0;
  position: absolute;
}

input[type="radio"]+label {
  background-color: transparent;
  border: 1px solid vars.$primary-color;
  color: vars.$primary-color;
  transition: all linear 0.3s;

  &:hover {
    color: vars.$primary-color-alt;
    border: 1px solid vars.$primary-color-alt;
    text-decoration: none;
  }
}

input[type="radio"]:checked+label, input[type="radio"]:focus+label {
  background-color: vars.$primary-color;
  color: vars.$light-color;
  transition: all linear 0.3s;
  border: 1px solid vars.$primary-color-alt;

  &:hover {
    background-color: vars.$primary-color-alt;
  }
}

.select-input {
  border: 2px solid vars.$medium-grey-color;
  background-color: transparent;
  border-radius: vars.$btn-radius;
  height: 2.5em;
  font-size: 1em;
  padding-left: vars.$space-10;

  @include mixin.media('small') {
    height: 3.4375em;
  }

}

.form__group {
  display: flex;
  gap: vars.$space-30;
  margin-bottom: vars.$space-30;
  flex-wrap: wrap;

  @include mixin.media('extra-large') {
    margin-bottom: 0;
  }
  
  .form__field {
    flex-grow: 1;
    margin-bottom: 0;

    @include mixin.media('large') {
      margin-bottom: vars.$space-30;
    }
  }
}
