@use '../../styles/vars';
@use '../../styles/mixin';

.post-infos {
  width: 100%;
  // position: relative;
  top: 0;

  &__frame{
    max-height: 5em;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  &__img{
    border-radius: vars.$panel-radius;
    width: 100%;
    top: 0;
  }

  &__title{
    font-weight: bold;
    padding: 1em;
  }
  &__localisation{
    font-size: .8em;
    font-weight: bold;
    padding: 1em;
  }
  &__description{
    font-size: .7em;
    line-height: 1.2em;
    padding: 1em;
  }
}
